html, body {
    font-family: "Figtree";
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    background-color: #efefef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.5rem;
    background-color: #232323;
    color: #9D9D9D;
}

.logo {
    height: 50%;
}

.homepage {
    background-color: #4F76F5;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    margin-top: 80px;
    height: 15rem;
}

.homepage h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin-top: 50px;
}


.homepage p {
    color: #BFDDFF;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
    max-width: 600px;
}
.homepage button {
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 280px;
    min-height: 73px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #3F49B7;
    cursor: pointer;
}

footer {
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
    color: white;
    background-color: #232323;
}

.hero {
    text-align: center;
}

/***************************
my sets
/***************************/
.container {
    width: 60%;
    display: flex;
    flex-direction: column;
}


@media screen  and  (max-width: 768px) {
    .container {
        width: 90%;
    }
    
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    margin-bottom: 20px;
    margin-top: 75px;
    flex-wrap: wrap;
}

.top h2 {
    font-size: 3rem;
    color: #000;
}

.top button {
    background: #4F76F5;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.sets {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.sets .set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.sets .set div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sets .set div span {
    display: flex;
    /* gap: 5px; */
}

.set div .bin {
    background-color: #F54F4F;
    background-image: url(../assets/bin.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border: 0;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
}

.set div .play-btn {
    background-color: #4F76F5;
    background-image: url(../assets/play.svg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border: 0;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
}

.set div .play-btn:hover {
    background-color: #3F49B7;
    transition: .3s;
}

.set div .bin:hover {
    background-color: #db3838;
    transition: .3s;
}

.create-new-set:hover {
    background-color: #3F49B7;
    transition: .3s;
}

.options {
    display: flex;
    flex-direction: column;

    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.options label {
    font-size: 1.3em;
}

.options h1 {
    margin-bottom: 40px;
}

.question, .answer, .setTitle {
    height: 2em;
}

.addQuestion {
    height: 2em;
    width: 4em;
}

.questions {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.questions > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

.questions > div > div {
    flex: 1;
    border: 1px solid #e2e2e2;
    min-height: 30px;
    height: auto;
}

.new_set .questions-input input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.new_set .questions-input input[type="text"]:focus {
    border-color: #4F76F5;
    outline: none;
    box-shadow: 0 0 5px rgba(79, 118, 245, 0.5);
}
.new_set .questions-input button.addQuestion {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #4F76F5;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.new_set .questions-input button.addQuestion:hover {
    background-color: #3F49B7;
}